.ifgp-panel {
    box-shadow: none
}
.ifgp-panel .ifgp-panel-heading {
    padding: 5px
}
.ifgp-panel-info .ifgp-panel-footer,
.ifgp-panel-info>.ifgp-panel-heading {
    color: #fff;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);/*custom*/
    border-color: #fdf497
}
a.list-group-item {
    border-color: #eaeaf1;
    color: #616670
}
.ifgp-modal button.ifgp-close {
    position: absolute;
    right: 15px;
    top: 11px;
    font-size: 28px;
    font-weight: 400;
    margin: 0;
    text-shadow: none;
    -webkit-opacity: .35;
    -moz-opacity: .35;
    opacity: .35;
    color: #494d55
}
.ifgp-modal button.ifgp-close:hover {
    -webkit-opacity: .6;
    -moz-opacity: .6;
    opacity: .6
}
.ifgp-modal-title {
    text-align: center
}
.ifgp-panel-title {
	font-size: 25px;
	padding: 0px;
    margin: 15px;
	color: #fff;
}
.insta-setting-heading h2 {
	font-weight: 600 !important;
}